*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
public
example

# YARD artifacts
.yardoc
_yardoc
doc/
.DS_Store
config.ru.development
.rbx
log
.DS_Store
config.ru
